body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("image.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.container {
    background-color: #fff;
    background: transparent;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(20px);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.input-group {
    margin-bottom: 15px;
}
label {
    font-size: 14px;
    color: #555;
}
input[type="email"] {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    margin-top: 30px ;
    background: transparent;
}
.input-group input::placeholder {
    color: black;
}
input[type="OTP"] {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    margin-top: 30px ;
    background: transparent;
}
input[type="Password"] {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    margin-top: 30px ;
    background: transparent;
}
button {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 550;
}
button:hover {
    background-color: #0056b3;
}
button a{
    text-decoration: none;
    color: white;
}
.footer {
    text-align: center;
    margin-top: 15px;
}
.footer a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
} 